<!Doctype html>
<html>
<header>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Register</title>
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <h1>Register</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-8 col-lg-6">
        <form class="form-group" action="{% url 'login:register' %}" method="post">
          {% csrf_token %}
          Username:<br>
          <input class="form-control" type="text" name="username"><br>
          Password:<br>
          <input class="form-control" type="password" name="password"><br>
          Firstname:<br>
          <input class="form-control" type="text" name="firstname"><br>
          Lastname:<br>
          <input class="form-control" type="text" name="lastname"><br>
          Email:<br>
          <input class="form-control" type="email" name="email"><br>
          <input class="btn btn-primary" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
